# Python
__pycache__/
*.pyc
*.pyo
*.egg-info
.python-version

# Virtual Environment
venv/
env/
ENV/
.venv/

# OS Specific Files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
tmp/
temp/

# IDE specific files
.idea/
.vscode/

# Packages distribution
dist/
build/
sdist/

# env files (can opt-in for committing if needed)
.env*