# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database & Storage
*.db
minio/data/

# Playwright & Test Results
test-results/
src/test/test-result/
debug/output/
*.webm
*.png
*.zip

# IDE & OS
.vscode/
.DS_Store